/* Additional styles if needed */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    
}

.historia {
    text-align: justify;
    width: 100%;
}

.historia img {
    max-width: 600px;
}


.historia p {
    max-width: 700px;
}

